# Backend-related env variables

# postgres
DATABASE_NAME=speek
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=db #change to localhost if manual
DATABASE_PORT=5432

# superuser information
SUPERUSER_NAME=
SUPERUSER_PASSWORD=
SUPERUSER_EMAIL=

# django secret key
SECRET_KEY=
